.root {
  border-color: var(--mantine-color-default-border);
}

.content {
  & :global(pre) {
    background-color: var(--mantine-color-body-secondary);
  }
}

.control {
  background-color: var(--mantine-color-default);
  border-color: var(--mantine-color-default-border);
  color: var(--mantine-color-default-color);

  &:where([data-interactive]:not([data-disabled])) {
    @mixin hover {
      background-color: var(--mantine-color-default-hover);
    }
  }
}

.linkEditorExternalControl {
  background-color: var(--mantine-color-default);
  border-color: var(--mantine-color-default-border);
}

.toolbar {
  border-color: var(--mantine-color-default-border);
}
